<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
  	<nav><h1><a href='/genres'>goodmovies</a></h1></nav>
    {{{body}}}
  </body>
</html>