<h2>{{this.id}}</h2>

<ul>
 {{#each results}}
  <li name='title'><a href='/genres/movie/{{this.id}}'>{{this.title}}</a></li>
  <img src='https://image.tmdb.org/t/p/w185{{this.poster_path}}'>
 {{/each}}
</ul>